.positions{
    margin: 30px;
}

.place0{
    padding: 4px;
    color: #8b90ad;
    font-size: 30px;
}

.place1{
    padding: 4px;
    color: #8b90ad;
    font-size: 25px;
}

.place2{
    padding: 4px;
    color: #8b90ad;
    font-size: 20px;
}